<main class="bg-[#052033] relative overflow-hidden h-[670px]">

  <div class="bg-[#052033] flex relative z-20 items-center overflow-hidden">
    <div class="container mx-auto px-6 flex relative py-22">
      <div class="sm:w-2/3 lg:w-2/5 flex flex-col relative z-20">
        <span class="w-60 h-2.5 bg-gray-800 dark:bg-white mb-10"></span>
        <h1
          class="font-bebas-neue uppercase text-6xl sm:text-8xl font-black flex flex-col leading-none dark:text-white text-gray-800">
          Diseñamos. Codificamos. Evolucionamos.
          <span class="text-5xl sm:text-5xl">Software con visión de futuro</span>
        </h1>
        <div class="flex mt-8">
          <a href="#"
            class="uppercase py-2 px-4 rounded-lg bg-transparent border-2 text-md transition-colors duration-300"
            style="border-color: #FFC100; color: #FFC100;"
            onmouseover="this.style.backgroundColor='#FFC100'; this.style.color='white';"
            onmouseout="this.style.backgroundColor='transparent'; this.style.color='#FFC100';">
            Leer más
          </a>
        </div>
      </div>

      <div class="hidden sm:block sm:w-1/2 lg:w-8/12 relative pl-90">
        <img src="./assets/images/inicio_svg.svg" class="max-w-xs md:max-w-sm m-auto" />
      </div>
    </div>
  </div>
</main>